html {
    background-color: #1c587a;
    width: 100%;
}

body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 
        'Arial', sans-serif;
    padding: 20px 20px 60px;
    color: #f0f0f0;
    max-width: 680px;
    margin: 0 auto;
}

img {
    max-width: 80%;
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #f0f0f0;
}

a:hover {
    color: #4287f5;
}

ul {
  list-style-type: circle;
}

button.home {
    transition-duration: 0.4s;
    position: fixed;
    right: 0;
    top: 0;
    margin: 20px 20px 20px 20px;
    background-color: white; 
    color: black;
    padding: 5px 15px 5px 15px;
    border-radius: 6px;
    border: 2px solid white;
}

button.home:hover {
  border-radius: 0;
  cursor:pointer;
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 10px 30px 0 rgba(0,0,0,0.19);
}

div.nav {
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px 15px 15px 15px;
}

span.nav {
    font-size: 20px;
    padding: 10px 10px 10px 10px;
}

span.listing {
    font-weight: bold;
    font-size: 25px;
    color: #d15454;
}

div.recipe {
    background-color: #f5f5f5;
    color: black;
    padding: 0px 30px 30px 30px;
    border: 2px solid black;
    border-radius: 1px;
    box-shadow: 5px 10px 18px black;
}

p.author {
    text-align: right;
}
